//
// Typography
// Font, line-height, and color for body text, headings, and more.
//

@use "config" as *;
@use "colors" as *;
@use "spacing" as *;

$path-to-fonts: "https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap" !default;

$font-family-sans-serif: "Manrope", sans-serif !default;

$font-size-base: 1rem !default;
$font-size-xl: $font-size-base * 1.25 !default;
$font-size-lg: $font-size-base * 1.125 !default;
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-xs: $font-size-base * 0.75 !default;

$font-weight-normal: 400 !default;
$font-weight-medium: 600 !default;
$font-weight-semibold: 700 !default;
$font-weight-bold: 800 !default;

$line-height-base: 1.6 !default;
$line-height-sm: 1.4 !default;
$line-height-lg: 1.8 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// Modifying default Bootstrap's $font-sizes map
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  "xl": $font-size-xl,
  "lg": $font-size-lg,
  "base": $font-size-base,
  "sm": $font-size-sm,
  "xs": $font-size-xs,
) !default;

$lead-font-size: $font-size-base * 1.5 !default;
$lead-font-weight: $font-weight-normal !default;

$headings-margin-bottom: $spacer !default;
$headings-font-weight: $font-weight-bold !default;
$headings-line-height: 1.3 !default;
$headings-color: var(--#{$prefix}gray-900) !default;

// Modifying default Bootstrap's $display-font-sizes map
$display-font-sizes: (
  1: $font-size-base * 5,
  2: $font-size-base * 4.5,
  3: $font-size-base * 4,
  4: $font-size-base * 3.5,
  5: $font-size-base * 3,
  6: $font-size-base * 2.625,
) !default;

$display-font-weight: $font-weight-bold !default;
