//
// Offcanvas
// --------------------------------------------------

@use "theme/variables/index" as *;
@use "theme/variables-dark" as *;

// Header

.offcanvas-header {
  padding: calc(var(--#{$prefix}offcanvas-padding-y) * 0.75)
    var(--#{$prefix}offcanvas-padding-x);
}

// Body

.offcanvas-body {
  display: block !important; // stylelint-disable-line declaration-no-important
}

// Dark color mode

@if $enable-dark-mode {
  [data-bs-theme="dark"] {
    .offcanvas,
    .offcanvas-sm,
    .offcanvas-md,
    .offcanvas-lg,
    .offcanvas-xl,
    .offcanvas-xxl {
      &.bg-secondary {
        background-color: #14171f !important; // stylelint-disable-line declaration-no-important
      }
    }
  }
}
