//
// Poppover
// --------------------------------------------------

@use "theme/variables/index" as *;
@use "theme/variables-dark" as *;

// Dark color mode

@if $enable-dark-mode {
  [data-bs-theme="dark"] {
    .popover {
      --#{$prefix}popover-bg: #{$popover-bg-dark};
    }
  }
}
