services:
  - type: web
    name: gelbhart-dev
    runtime: ruby
    plan: free
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec rails server"
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: RAILS_MASTER_KEY
        sync: false
      - key: WEB_CONCURRENCY
        value: 0
      - key: RAILS_MAX_THREADS
        value: 5
      - key: RAILS_MIN_THREADS
        value: 5
