//
// user-variables.scss
// Use this to override Bootstrap and Silicon variables
//

// Override theme colors
$primary: #a305b6;
$link-color: $primary;
$nav-link-hover-color: $primary;
$nav-link-active-color: $primary;
