//
// Parallax
// --------------------------------------------------

// Background and element parallax
// based on https://github.com/nk-o/jarallax

.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax .jarallax-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: {
    position: center !important; // stylelint-disable-line declaration-no-important
    size: cover !important; // stylelint-disable-line declaration-no-important
  }
}

// Disable element parallax on different breakpoints

[data-disable-parallax-down="xs"] {
  @media (max-width: 0px) {
    // xs breakpoint (0px)
    transform: none !important; // stylelint-disable-line declaration-no-important
  }
}
[data-disable-parallax-down="sm"] {
  @media (max-width: 499.98px) {
    // Bootstrap sm breakpoint - 1px
    transform: none !important; // stylelint-disable-line declaration-no-important
  }
}
[data-disable-parallax-down="md"] {
  @media (max-width: 767.98px) {
    // Bootstrap md breakpoint - 1px
    transform: none !important; // stylelint-disable-line declaration-no-important
  }
}
[data-disable-parallax-down="lg"] {
  @media (max-width: 991.98px) {
    // Bootstrap lg breakpoint - 1px
    transform: none !important; // stylelint-disable-line declaration-no-important
  }
}
[data-disable-parallax-down="xl"] {
  @media (max-width: 1199.98px) {
    // Bootstrap xl breakpoint - 1px
    transform: none !important; // stylelint-disable-line declaration-no-important
  }
}
[data-disable-parallax-up="sm"] {
  @media (min-width: 500px) {
    // Bootstrap sm breakpoint
    transform: none !important; // stylelint-disable-line declaration-no-important
  }
}
[data-disable-parallax-up="md"] {
  @media (min-width: 768px) {
    // Bootstrap md breakpoint
    transform: none !important; // stylelint-disable-line declaration-no-important
  }
}
[data-disable-parallax-up="lg"] {
  @media (min-width: 992px) {
    // Bootstrap lg breakpoint
    transform: none !important; // stylelint-disable-line declaration-no-important
  }
}
[data-disable-parallax-up="xl"] {
  @media (min-width: 1200px) {
    // Bootstrap xl breakpoint
    transform: none !important; // stylelint-disable-line declaration-no-important
  }
}

// Cursor parallax
// based on https://github.com/wagerfield/parallax

.parallax {
  position: relative;
}
.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:first-child {
    position: relative;
  }

  > img {
    display: block;
    width: 100%;
  }
}

// 3D Tilt effect

.tilt-3d {
  transform-style: preserve-3d;

  .tilt-3d-inner {
    transform: translateZ(2rem);
  }
}
