<section class="container pt-5 mt-5">
    <div class="row align-items-center pt-lg-4 pb-5">
        <div class="col-lg-6 pb-3 pb-lg-0 mb-4 mb-lg-0">
            <h1 class="display-4 text-center text-lg-start pb-2 pb-lg-3">
                Hi, I'm Tomer Gelbhart
            </h1>
            <p class="fs-lg text-center text-lg-start pb-2 pb-lg-3 mb-4 mb-lg-5">
                Software Developer & Full Stack Engineer
            </p>
            <div class="text-center text-lg-start">
                <%= link_to "View Projects", projects_path, class: "btn btn-primary shadow-primary btn-lg" %>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- You can add an image or illustration here -->
            <%= image_tag "theme/avatar/01.jpg", class: "d-block mx-auto", alt: "Hero Image" %>
        </div>
    </div>
</section>