//
// List group
// --------------------------------------------------

@use "theme/variables/index" as *;
@use "theme/variables-dark" as *;

// Base class
//
// Easily usable on <ul>, <ol>, or <div>.

.list-group {
  // scss-docs-start list-group-css-vars
  --#{$prefix}list-group-color: #{$list-group-color};
  --#{$prefix}list-group-bg: #{$list-group-bg};
  --#{$prefix}list-group-border-color: #{$list-group-border-color};
  --#{$prefix}list-group-border-width: #{$border-width};
  --#{$prefix}list-group-border-radius: #{$list-group-border-radius};
  --#{$prefix}list-group-item-padding-x: #{$list-group-item-padding-x};
  --#{$prefix}list-group-item-padding-y: #{$list-group-item-padding-y};
  --#{$prefix}list-group-action-color: #{$list-group-action-color};
  --#{$prefix}list-group-action-hover-color: #{$list-group-action-hover-color};
  --#{$prefix}list-group-action-hover-bg: #{$list-group-hover-bg};
  --#{$prefix}list-group-action-active-color: #{$list-group-action-active-color};
  --#{$prefix}list-group-action-active-bg: #{$list-group-action-active-bg};
  --#{$prefix}list-group-disabled-color: #{$text-muted};
  --#{$prefix}list-group-disabled-bg: transparent;
  --#{$prefix}list-group-active-color: #{$list-group-active-color};
  --#{$prefix}list-group-active-bg: #{$list-group-active-bg};
  --#{$prefix}list-group-active-border-color: #{$primary};
  --#{$prefix}list-group-active-box-shadow: #{$list-group-active-box-shadow};
  // scss-docs-end list-group-css-vars

  display: flex;
  flex-direction: column;

  // No need to set list-style: none; since .list-group-item is block level
  padding-left: 0; // reset padding because ul and ol
  margin-bottom: 0;
  border-radius: var(--#{$prefix}list-group-border-radius);
}

.list-group-numbered {
  list-style-type: none;
  counter-reset: section;

  > .list-group-item::before {
    // Increments only this instance of the section counter
    content: counters(section, ".") ". ";
    counter-increment: section;
  }
}

// Individual list items
//
// Use on `li`s or `div`s within the `.list-group` parent.

.list-group-item {
  position: relative;
  display: block;
  padding: var(--#{$prefix}list-group-item-padding-y)
    var(--#{$prefix}list-group-item-padding-x);
  color: var(--#{$prefix}list-group-color);
  text-decoration: if($link-decoration == none, null, none);
  background-color: var(--#{$prefix}list-group-bg);
  border: var(--#{$prefix}list-group-border-width) solid
    var(--#{$prefix}list-group-border-color);

  &:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  &:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  &.disabled,
  &:disabled {
    color: var(--#{$prefix}list-group-disabled-color);
    pointer-events: none;
    background-color: var(--#{$prefix}list-group-disabled-bg);
  }

  // Include both here for `<a>`s and `<button>`s
  &.active {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: var(--#{$prefix}list-group-active-color);
    background-color: var(--#{$prefix}list-group-active-bg);
    border-color: var(--#{$prefix}list-group-active-border-color);
    box-shadow: var(--#{$prefix}list-group-active-box-shadow);
  }

  & + & {
    border-top-width: 0;

    &.active {
      margin-top: calc(
        var(--#{$prefix}list-group-border-width) * -1
      ); // stylelint-disable-line function-disallowed-list
      border-top-width: var(--#{$prefix}list-group-border-width);
    }
  }
}

// Interactive list items
//
// Use anchor or button elements instead of `li`s or `div`s to create interactive
// list items. Includes an extra `.active` modifier class for selected items.

.list-group-item-action {
  width: 100%; // For `<button>`s (anchors become 100% by default though)
  font-weight: $list-group-action-font-weight;
  color: var(--#{$prefix}list-group-action-color);
  text-align: inherit; // For `<button>`s (anchors inherit)
  transition: $list-group-action-transition;

  // Hover state
  &:hover,
  &:focus {
    z-index: 1; // Place hover/focus items above their siblings for proper border styling
    color: var(--#{$prefix}list-group-action-hover-color);
    text-decoration: none;
    background-color: var(--#{$prefix}list-group-action-hover-bg);
  }

  &.active {
    color: var(--#{$prefix}list-group-action-active-color);
    background-color: var(--#{$prefix}list-group-action-active-bg);
  }
}

// Horizontal
//
// Change the layout of list group items from vertical (default) to horizontal.

@each $breakpoint, $value in $grid-breakpoints {
  @if $breakpoint != "xs" {
    $infix: if(
      $breakpoint == "sm",
      "-sm",
      if(
        $breakpoint == "md",
        "-md",
        if(
          $breakpoint == "lg",
          "-lg",
          if($breakpoint == "xl", "-xl", if($breakpoint == "xxl", "-xxl", ""))
        )
      )
    );

    @media (min-width: #{$value}) {
      .list-group-horizontal#{$infix} {
        flex-direction: row;

        > .list-group-item {
          &:first-child {
            border-bottom-left-radius: var(
              --#{$prefix}list-group-border-radius
            );
            border-top-right-radius: 0;
          }

          &:last-child {
            border-top-right-radius: var(--#{$prefix}list-group-border-radius);
            border-bottom-left-radius: 0;
          }

          &.active {
            margin-top: 0;
          }

          + .list-group-item {
            border-top-width: var(--#{$prefix}list-group-border-width);
            border-left-width: 0;

            &.active {
              margin-left: calc(
                var(--#{$prefix}list-group-border-width) * -1
              ); // stylelint-disable-line function-disallowed-list
              border-left-width: var(--#{$prefix}list-group-border-width);
            }
          }
        }
      }
    }
  }
}

// Flush list items
//
// Remove borders and border-radius to keep list group items edge-to-edge. Most
// useful within other components (e.g., cards).

.list-group-flush {
  border-radius: 0;

  > .list-group-item {
    border-width: 0 0 var(--#{$prefix}list-group-border-width);

    &:last-child {
      border-bottom-width: 0;
    }
  }

  .list-group-item-action {
    margin-bottom: 0.125rem;
    border: 0;
    border-radius: var(--#{$prefix}list-group-border-radius);
  }
}

.card .list-group-flush .list-group-item-action {
  margin-bottom: 0;
  border-bottom: var(--#{$prefix}list-group-border-width) solid
    var(--#{$prefix}list-group-border-color);
  border-radius: 0;
  &:last-child {
    border-bottom: 0;
  }
  &.active {
    border-color: var(--#{$prefix}list-group-active-border-color);
  }
}

.offcanvas-body .list-group-flush .list-group-item-action {
  margin-bottom: 0.0625rem;
  border-radius: 0;
}

// Dark color mode

@if $enable-dark-mode {
  [data-bs-theme="dark"] {
    .list-group:not([data-bs-theme="light"]) {
      --#{$prefix}list-group-disabled-color: #{$list-group-disabled-color-dark};
      --#{$prefix}list-group-action-color: #{$list-group-action-color-dark};
    }
  }
}
