//
// Navigation
// Navs, tabs, pills, navbar, dropdowns, sidebar
//

@use "sass:map";
@use "../colors" as *;
@use "../spacing" as *;
@use "../typography" as *;
@use "../borders" as *;
@use "../shadows" as *;

// Navs
$nav-link-padding-y: 0.535rem !default;
$nav-link-padding-x: 1rem !default;
$nav-link-font-weight: $font-weight-medium !default;
$nav-link-color: $gray-800 !default;
$nav-link-hover-color: $primary !default;
$nav-link-active-color: $primary !default;
$nav-link-disabled-color: $gray-600 !default;
$nav-link-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
  border-color 0.2s ease-in-out !default;

// Tabs
$nav-tabs-border-color: transparent !default;
$nav-tabs-border-width: 0 !default;
$nav-tabs-link-bg: $gray-200 !default;
$nav-tabs-link-color: $nav-link-color !default;
$nav-tabs-link-hover-border-color: transparent !default;
$nav-tabs-link-hover-bg: map.get($theme-faded-colors, "primary") !default;
$nav-tabs-link-hover-color: $primary !default;
$nav-tabs-link-active-border-color: transparent !default;
$nav-tabs-link-active-bg: $primary !default;
$nav-tabs-link-active-color: $white !default;
$nav-tabs-link-disabled-bg: $gray-100 !default;
$nav-tabs-link-disabled-color: $nav-link-disabled-color !default;

// Pills
$nav-pills-border-radius: $border-radius-pill !default;

// Sidebar navigation
$side-nav-padding-y: 0 !default;
$side-nav-padding-x: $spacer * 2 !default;
$side-nav-border-width: $border-width !default;
$side-nav-border-color: $border-color !default;

$side-nav-link-font-size: $font-size-sm !default;
$side-nav-link-padding-y: 0.375rem !default;
$side-nav-link-padding-x: $side-nav-padding-x !default;
$side-nav-link-trnasition: color 0.2s ease-in-out, border-color 0.2s ease-in-out,
  background-color 0.2s ease-in-out !default;

// Navbar
$navbar-nav-link-padding-x: 0.875rem !default;

// Brand
$navbar-brand-font-size: 1.375rem !default;
$navbar-brand-font-weight: $font-weight-bold !default;
$navbar-brand-padding-y: $spacer * 0.5 !default;

// Toggler
$navbar-toggler-padding-y: $spacer * 0.625 !default;
$navbar-toggler-padding-x: $spacer * 0.25 !default;
$navbar-toggler-border-radius: 0 !default;
$navbar-toggler-bar-width: 1.375rem !default;
$navbar-toggler-bar-height: 0.125rem !default;
$navbar-toggler-bar-spacing: 0.3125rem !default;

// Navbar light
$navbar-light-color: $nav-link-color !default;
$navbar-light-hover-color: $nav-link-hover-color !default;
$navbar-light-active-color: $nav-link-active-color !default;
$navbar-light-disabled-color: $nav-link-disabled-color !default;
$navbar-light-toggler-border-color: transparent !default;
$navbar-light-toggler-icon-bg: initial !default;
$navbar-light-toggler-bar-color: $nav-link-color !default;
$navbar-light-brand-color: $gray-900 !default;
$navbar-light-brand-hover-color: $gray-900 !default;

// Navbar dark
$navbar-dark-color: rgba($white, 0.85) !default;
$navbar-dark-hover-color: $primary !default;
$navbar-dark-active-color: $primary !default;
$navbar-dark-disabled-color: rgba($white, 0.4) !default;
$navbar-dark-toggler-border-color: transparent !default;
$navbar-dark-toggler-icon-bg: initial !default;
$navbar-dark-toggler-bar-color: rgba($white, 0.85) !default;
$navbar-dark-brand-color: $white !default;
$navbar-dark-brand-hover-color: $white !default;

// Mega dropdown
$mega-dropdown-column-width: 14rem !default;

// Dropdowns
$dropdown-min-width: 12rem !default;
$dropdown-font-size: $font-size-sm !default;
$dropdown-font-weight: 500 !default;
$dropdown-bg: $white !default;
$dropdown-border-color: $dropdown-bg !default;
$dropdown-divider-bg: $border-color !default;
$dropdown-divider-margin-y: 0.375rem !default;
$dropdown-divider-margin-x: 1rem !default;
$dropdown-box-shadow: $box-shadow !default;
$dropdown-border-radius: $border-radius-lg !default;
$dropdown-spacer: 0.25rem !default;

$dropdown-item-padding-y: 0.375rem !default;
$dropdown-item-padding-x: 1rem !default;
$dropdown-item-font-size: $font-size-sm !default;
$dropdown-item-icon-size: $font-size-base !default;

$dropdown-header-color: $headings-color !default;

$dropdown-link-color: $nav-link-color !default;
$dropdown-link-hover-color: $nav-link-hover-color !default;
$dropdown-link-hover-bg: transparent !default;
$dropdown-link-active-color: $nav-link-active-color !default;
$dropdown-link-active-bg: transparent !default;
$dropdown-link-disabled-color: $nav-link-disabled-color !default;

$dropdown-dark-color: rgba($white, 0.7) !default;
$dropdown-dark-bg: linear-gradient(0deg, rgba($white, 0.03), rgba($white, 0.03)),
  $dark !default;
$dropdown-dark-border-color: $border-light-color !default;
$dropdown-dark-divider-bg: $border-light-color !default;
$dropdown-dark-link-color: rgba($white, 0.85) !default;
$dropdown-dark-link-hover-color: $primary !default;
$dropdown-dark-link-hover-bg: transparent !default;
$dropdown-dark-link-active-color: $primary !default;
$dropdown-dark-link-active-bg: transparent !default;
$dropdown-dark-link-disabled-color: rgba($white, 0.4) !default;
$dropdown-dark-header-color: $white !default;
