//
// Tables
// --------------------------------------------------

// Import theme variables (variables-dark forwards variables, so both are available)
@use "theme/variables/index" as *;
@use "theme/variables-dark" as *;
@use "sass:color";

.table {
  --#{$prefix}table-th-color: #{$table-th-color};
  --#{$prefix}table-dark-color: #{$body-color-dark};
  &:not(.table-dark) {
    thead:not(.thead-dark) th,
    tbody th {
      color: var(--#{$prefix}table-th-color);
    }
  }
  &.table-dark td {
    color: var(--#{$prefix}table-dark-color);
  }
}
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: darken($gray-300, 12%);
}
.table.table-dark > :not(:last-child) > :last-child > * {
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

// Remove highlight border color between thead, tbody and tfoot.
.table > :not(:first-child) {
  border-top: 0;
}

// Dark color mode

@if $enable-dark-mode {
  [data-bs-theme="dark"] {
    .table:not([data-bs-theme="light"]) {
      --#{$prefix}table-striped-bg: rgba(
        255,
        255,
        255,
        #{$table-striped-bg-factor}
      );
      --#{$prefix}table-hover-bg: rgba(
        255,
        255,
        255,
        #{$table-hover-bg-factor}
      );
      // Note: table-hover-color removed - Bootstrap variable not accessible in @use scope
      > :not(:last-child) > :last-child > * {
        border-bottom-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
